[submodule "Hanabi/vendor/spdlog"]
	path = Hanabi/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hanabi/vendor/GLFW"]
	path = Hanabi/vendor/GLFW
	url = https://github.com/Sigurd015/glfw
[submodule "Hanabi/vendor/imgui"]
	path = Hanabi/vendor/imgui
	url = https://github.com/Sigurd015/imgui
[submodule "Hanabi/vendor/glm"]
	path = Hanabi/vendor/glm
	url = https://github.com/g-truc/glm
